@model ProductViewModel
@{
    
}

<div class="page">
    <div>
        <form asp-controller="Admin" asp-action="AddProduct" method="post" enctype="multipart/form-data">
            <div>
                <label asp-for="Name"></label>
                <input type="text" name="Name" value="" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Price"></label>
                <input type="number" name="Price" value="" />
                <span asp-validation-for="Price"></span>
            </div>
            <div>
                <label asp-for="Description"></label>
                <input type="text" name="Description" value="" />
                <span asp-validation-for="Description"></span>
            </div>
            <div>
                <label asp-for="Photo"></label>
                <input type="file" name="Photo" value="" />
                <span asp-validation-for="Photo"></span>
            </div>
            <div>
                <label asp-for="Category"></label>
                <input type="text" name="Category" value="" />
                <span asp-validation-for="Category"></span>
            </div>
            <input type="submit" value="Сохранить" />
        </form>
    </div>
</div>
