@{
    ViewData["Title"] = "Suggest product";
}
@model IEnumerable<Suggestion>
@inject WebCoffee.Data.ApplicationDbContext context

<h1>Предложить продукт</h1>

<div>
    <form method="post" asp-controller="Suggestions" asp-action="Create" enctype="multipart/form-data">
        <div class="suggestion-item">
            <div>
                <span>Name</span>
                <input type="text" name="Name" value="" placeholder="Name" />
            </div>
            <div>
                <span>Price</span>
                <input type="text" name="Price" value="" placeholder="Price" />
            </div>
            <div>
                <span>Photo</span>
                <input type="file" name="Photo" value="" placeholder="Photo" />
            </div>
            <div>
                <span>Description</span>
                <input type="text" name="Description" value="" placeholder="Description" />
            </div>
            <div>
                <span>Category</span>
                <input type="text" name="Category" value="" placeholder="Category" />
            </div>
            <input type="submit" value="Отправить" />
        </div>
    </form>
</div>

<h1>Ваши предложения</h1>

<div class="main-page">
    <div class="suggestions">
        @foreach (var item in Model)
        {
            <div class="suggestion">
                <div class="suggestion-img">
                    @*<img src="~/Files/Images/@item.Photo" alt="img" />*@
                    <img src="@Url.Content(item.Photo.Path + item.Photo.Name)" alt="img" />
                </div>
                <div class="suggestion-title">
                    @item.Name
                </div>
            </div>
        }
    </div>
</div>