@model List<Notification>

<div class="main-page">
    <div>Уведомления</div>
    @foreach (var item in Model)
    {
        <div class="notification">
            <div>
                @item.Message
            </div>
            <div>
                @item.Date
            </div>
            <div>
                @item.Time
            </div>
            <div>
                @item.From
            </div>
        </div>
    }
</div>