@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Notification>

<div class="main-page">
    <div>Notifications</div>
    <div class="notifications">
        @foreach (var item in Model)
        {
            <div class=@(!item.Status ? "notification active" : "notification")>
                <div>
                    @item.Message
                </div>
                <div>
                    @item.Date
                </div>
                <div>
                    @item.Time
                </div>
                <form method="post" asp-controller="Notifications" asp-action="Check" asp-route-id="@item.Id">
                    @if (!item.Status)
                    {
                        <input type="submit" value="Прочитано" />
                    }
                </form>
            </div>
        }
    </div>
</div>