@using Microsoft.EntityFrameworkCore;
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext context
@{

}

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        var identityUser = await UserManager.GetUserAsync(User);
        var user = await context.Users.Where(x => x.Id == identityUser.Id)
            .Include(x => x.Photo)
            .FirstOrDefaultAsync();
        var notifications = await context.Notifications.Where(x => x.To.Id == user.Id && x.Status == false).ToListAsync();
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Bag" asp-action="Index">Корзина</a>
        </li>
        <li class="nav-item">
            <a class="header__profile" asp-area="" asp-controller="Manage" asp-action="Index" asp-route-id="@user.Id">
                @if (notifications.Count() > 0)
                {
                    <span class="header__profile__notifications"></span>
                }
                <img class="header__photo" src="@Url.Content(user.Photo.Path + user.Photo.Name)" alt="img" />
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
        </li>
    }
</ul>
