@model WebCoffee.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div class="page">
    <div class="auth">
        <div>Войти</div>
        <form class="auth-form" asp-controller="Account" asp-action="Login">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="auth-input">
                <div>Имя пользователя:</div>
                <input asp-for="UserName">
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="auth-input">
                <div>Пароль:</div>
                <input asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="auth-submit">
                <input type="submit" value="Войти">
                <input type="button" value="Зарегестрироваться">
            </div>
        </form>
    </div>
</div>