@model WebCoffee.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Аккаунт";
}

<div class="auth">
    <div>Зарегестрироваться</div>
    <form class="auth-form" asp-controller="Account" asp-action="Register">
        <div class="auth-input">
            <div>Имя пользователя:</div>
            <input type="text" asp-for="Username">
            <span asp-validation-for="Username"></span>
        </div>
        <div class="auth-input">
            <div>Пароль:</div>
            <input asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="auth-input">
            <div>Повторите пароль:</div>
            <input asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="auth-submit">
            <input type="submit" value="Зарегестрироваться">
            <input type="button" value="Войти">
        </div>
    </form>
</div>